@page
@model ParkNet_Cristovao.Machado.Pages.TariffTicketGestor.CreateDailyTicketModel

@{
    ViewData["Title"] = "CreateDailyTicket";
}

@if (Model.DailyTicket.Count < 0)
{
    <p class="text-danger">You already have a price for the daily ticket, click on the button to edit the price</p>
    <p>Current price is @Model.DailyTicket[0].Price</p>
    <div>
        <a asp-page="EditDailyTicket">Edit</a>
    </div>
}

else
{

    <h1>CreateDailyTicket</h1>

    <h4>DailyTicketTariff</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="DailyTicketTariff.Price" class="control-label">Price</label>
                    <input asp-for="DailyTicketTariff.Price" class="form-control" />
                    <span asp-validation-for="DailyTicketTariff.Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="Index">Back to List</a>
    </div>
}


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
