@page
@model ParkNet_Cristovao.Machado.Pages.Stats.IndexModel
@{
    
}

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Balance</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model.Customers)
        {
            <tr>
                <td>@customer.Id</td>
                <td>@customer.Email</td>
                <td>@Math.Round(Model.WalletManager.GetUserBalance(customer.Id), 2)$</td>
            </tr>
        }
    </tbody>
</table>