@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    .imagem-centralizada {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>

    <div class="text-center">
        <h1 class="display-4">ParkNet</h1>
    </div>

<img src="~/ParkNetLogo.png" alt="Logo" class="imagem-centralizada" width="600" height="600">

