@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


@if(Model.Parks.Count < 1)
{
    <div class="text-center">
        <h1 class="display-4">Welcome, Admin! Please Config a Park! </h1>
    </div>
    <div>
        <a asp-page="/ParkEditor/Create">ParkCreator</a>
    </div>
    
}
else {
    <div class="text-center">
        <h1 class="display-4">ParkNet</h1>
    </div>
}

